* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #050505;
  font-family: "Golos-text", sans-serif;
}

.t-popup__container {
  background-color: transparent;
}

ul,
a {
  padding: 0;
}

.header {
  list-style: none;
  padding: 16px 0;
  background-color: #fbfbfb;
  border-bottom: 1px solid #0000001a;
}

.header-inner {
  max-width: 1920px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  position: relative;
  z-index: 101;
}

.header-navigation-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-navigation-item {
  border-radius: 7px;
  transition: 0.3s all;
  padding: 5px 10px;
  cursor: pointer;
  list-style: none;
}

.header-navigation-item:hover {
  background-color: #f4f4f3;
}

.header-navigation-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-badge {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #d5d7da;
  border-radius: 7px;
  padding: 2px 8px;
  background-color: white;
}

.header-dote {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #17b26a;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Golos-text", sans-serif;
}

.header-buttons > button {
  border: none;
  background-color: transparent;
}

.header-buttons > button:first-child,
.header-buttons > button:last-child {
  padding: 5px 10px;
  border-radius: 7px;
  transition: 0.3s all;
  cursor: pointer;
}

.header-buttons > button:first-child:hover {
  background-color: #f4f4f3;
}

.header-buttons > button:last-child {
  background-color: #0f1214;
  color: white;
}

.header-burger {
  display: none;
}

.header-burger-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 101;
}

.header-burger-button span,
.header-burger-button::after,
.header-burger-button::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 20px;
  transition: 0.3s all;
}

.header-burger-button::before {
  transform: translateY(-4px);
}

.header-burger-button::after {
  transform: translateY(4px);
}

.header-burger-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  padding: 80px 16px 40px 16px;
  transform: translateX(-100%);
  transition: 0.3s all;
  z-index: 100;
}

.header-burger-navigation .header-burger-title {
  margin-bottom: 16px;
}

.header-burger-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.header-burger-buttons > button {
  padding: 16px 10px;
  width: 100%;
  border-radius: 7px;
  transition: 0.3s all;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.header-burger-buttons > button:first-child {
  border: 1px solid #0f1214;
}

.header-burger-buttons > button:last-child {
  background-color: #0f1214;
  color: white;
}

.header-burger-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
}

.header-contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #767676;
}

.header-contact-title {
  font-weight: bold;
  color: #0f1214;
}

@media (max-width: 1240px) {
  .header-navigation {
    display: none;
  }

  .header-buttons {
    display: none;
  }

  .header-burger {
    display: block;
  }
}

/* BURGER MENU STYLES */

.header-burger.active .header-burger-button span {
  opacity: 0;
}

.header-burger.active .header-burger-button::before {
  transform: rotate(45deg) translateY(3px);
}

.header-burger.active .header-burger-button::after {
  transform: rotate(-45deg) translateY(-3px);
}

.header-burger.active .header-burger-menu {
  transform: translateX(0);
}

/* TILDA STYLES  */
#allrecords a {
  color: #050505;
}

.t-records ul {
  margin-bottom: 0;
}
